[alias]
    st = status
    ci = commit
    df = diff
    dc = diff --cached
    co = checkout
    cob = checkout -b
    br = branch
    del = branch -d
    cm = commit
    fe = fetch --prune
    rb = rebase -i
    po = push origin HEAD
    sh = stash
    addi = !git add -i
    lg = !git log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
    email = a2sin2a2ko@kyoto-y.work
    name = Ryu Yamada
[core]
    editor = nvim
    ignorecase = true
[credential]
    helper = store
