[alias]
    st = status
    ci = commit
    dc = diff --cached
    co = checkout
    cob = checkout -b
    br = branch
    del = branch -d
    cm = commit
    df = diff
    fe = fetch --prune
    rb = rebase -i
    po = push origin HEAD
    sh = stash
[user]
    email = a2sin2a2ko@kyoto-y.work
	name = Ryu Yamada
[core]
	editor = nvim
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
